<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleOperations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OraChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2B7FB6E1D87183F00E9B36E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2B7FB771D87183F00E9B36E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C663CE1D83997900095A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C663E71D83997A00095A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C663F21D83997A00095A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
